<!--The content below is only a placeholder and can be replaced.-->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter YouTube URL" #url> 
  </mat-form-field>
</form>
<button mat-raised-button (click) = "extractId(url.value)">Generate links!</button>

<div *ngFor="let link of streamResults; let i = index;">
  <a href="{{link.url}}" download>
    Link - {{i+1}}  (Quality: {{link.quality}}, Video Format: {{returnType(link.type)}})
  </a>
</div>